test_images/
train_images/
train_augmented/
train_augmented_all/
train_augmented_colorJitter/
train_augmented_gaussianBlur/
train_augmented_randomAffine/
train_augmented_randomErasing/
test_data_aug_types/
test_experiments/
test_models/
vcpi_project.zip